@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    background-color: #eeeeee;
    color: #3c4858;
    margin: 0;
    font-family: Barlow, sans-serif !important;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    line-height: 1.5em;
  }
  
  blockquote footer:before,
  blockquote small:before {
    content: "\2014 \00A0";
  }
  
  small {
    font-size: 80%;
  }
  
  h1 {
    font-size: 3em;
    line-height: 1.15em;
  }
  
  h2 {
    font-size: 2.4em;
  }
  
  h3 {
    font-size: 1.825em;
    line-height: 1.4em;
    margin: 20px 0 10px;
  }
  
  h4 {
    font-size: 1.3em;
    line-height: 1.4em;
  }
  
  h5 {
    font-size: 1.25em;
    line-height: 1.4em;
    margin-bottom: 15px;
  }
  
  h6 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500;
  }
  p{
    margin-bottom: 15px;
    color: #546681;
    font-size: 18px;
    line-height: 1.4;
    text-align: left;
  }
  blockquote p {
    font-style: italic;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Barlow, sans-serif;
    line-height: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  legend {
    border-bottom: 0;
  }
  
  * {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
  }
  
  *:focus {
    outline: 0;
  }
  
  a:focus,
  a:active,
  button:active,
  button:focus,
  button:hover,
  button::-moz-focus-inner,
  input[type="reset"]::-moz-focus-inner,
  input[type="button"]::-moz-focus-inner,
  input[type="submit"]::-moz-focus-inner,
  select::-moz-focus-inner,
  input[type="file"] > input[type="button"]::-moz-focus-inner {
    outline: 0 !important;
  }
  
  legend {
    margin-bottom: 20px;
    font-size: 21px;
  }
  
  output {
    padding-top: 8px;
    font-size: 14px;
    line-height: 1.42857;
  }
  
  label {
    font-size: 14px;
    line-height: 1.42857;
    color: #aaaaaa;
    font-weight: 400;
  }

  img.img-fluid{
      max-width: 100%;
  }
  .w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}

  .button {
    margin-right: 15px;
    padding: 18px 35px;
    border-radius: 100px;
    background-color: #ffb607;
    color: #001632;
    font-size: 17px;
  }
  
  footer {
    padding: 15px 0;
  }
  
  footer ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
  }
  
  footer ul li {
    display: inline-block;
  }
  
  footer ul li a {
    color: inherit;
    padding: 15px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    display: block;
  }
  
  footer ul li a:hover {
    text-decoration: none;
  }
  
  @media (max-width: 991px) {
    body,
    html {
      position: relative;
      overflow-x: hidden;
    }
  
  * {
    letter-spacing: normal !important;
  }
}
  